{% extends "base.html" %} {% load static %} {% block title %}MikropRp | Ana Sayfa{% endblock %} {% block content %}
<div class="container-fluid">
	<div class="row flex-column-reverse flex-md-row">
		<!-- Sol tarafta açıklama -->
		<div class="col-md-6 d-flex justify-content-center align-items-center bg-dark text-white p-4">
			<div class="text-center p-4 text-white align-items-center justify-content-center">
				<h4>Kovboylar Çağı: Yeni Dünya'nın Hikayesi</h4>
				<h6>Yıl 1885…</h6>
				<p>Yeni bir dünya keşfedilmişti. Henüz haritalarda bile adı geçmeyen bir kara parçası, üzerinde sırlar ve zenginlikler barındırıyordu. Efsaneler, bu toprakların sınırsız kaynağa ve doğanın ruhlarına ev sahipliği yaptığını fısıldıyordu. Büyük şirketler, tüccarlar, kovboylar ve kaşifler, bu yeni dünyayı fethetmek için yola çıkmışlardı. Ancak deniz, onların yolculuklarını kolaylaştırmak yerine pek çoğunu yutmuştu. Sadece dört gemi, bu bilinmeyen kara parçasına ulaşabilmişti.</p>
				<p>Birinci Gemi, kovboyları taşımıştı. Asi ruhlu ve cesur maceraperestler, özgürlük arayışıyla gelmişlerdi. Onların lideri, gözleri kadar sert bir iradeye sahipti. Zincir tanımayan kovboylar, kendi kurallarını koyacak, her adımda yeni bir efsane yaratacaklardı.</p>
				<p>İkinci Gemi, düzeni sağlamak isteyen şeriflerle doluydu. Volkan, adaletin vicdanı olarak bu topraklara adım atmıştı. Kendisinin yanındaki adam Hıltıcı, taşın kalbini delen bir adamdı. Adaletin her türlü kirini temizlemek için silahını çekerken tereddüt etmezdi. Ama Mosu, her şeyin bir bedeli olduğunu bilirdi; adaletin, kimin ne kadar ödeyebileceğine göre değişebileceğini.</p>
				<p>Üçüncü Gemi, emekçileri taşımıştı. Zanaatkârlar, çiftçiler ve madenciler… Yeni toprakların gerçek sahipleri. Ama o toprakların derinliklerinden sesler yükseliyordu. Silas McGraw, altının peşindeydi. Kendisinin kuracağı imparatorluk, yalnızca altınla şekillenecekti. Altın, her adımda yeni bir düşmanı doğuruyordu, ama o, bu topraklarda tek bir kural tanıyordu: Her şeyin bir fiyatı vardı.</p>
				<p>
					Ve son gemi, doğanın dilini bilen avcıları taşımıştı. Avcılar, iz sürücülerdi; doğanın sırlarını bilenlerdi. Ancak, bu toprakların kadim ruhları, Kızıl Derililer tarafından korunuyordu. Etha, Ovanın Yaşayan Ruhu olarak halkına liderlik ederken, doğanın dengesini korumak için her adımda bir dua yapıyordu. Kızıl Derililer, doğa ile bir olmuş, her canlıyı ruhunun bir parçası gibi kabul ediyorlardı. Ancak şimdi, doğa dengesini kaybetmiş, kara ruhlar hayvanları ele geçirmişti. Bu eski
					toprakların ruhlarını, yeni gelenlerin iştahı tehdit ediyordu.
				</p>
				<p>Amazonlar da varlıklarını bu yeni dünyada hissettirmeye başlamıştı. Dark, Amazonların lideriydi. Onun için güç, hayatın ta kendisiydi. Yaşadığı ormanın derinliklerinde, dövüşmeden yaşayan bir tek yaratık yoktu. Onun gözleri, zayıf olanları ezerken, gücü ve zaafları bilen bir stratejistti. Yeni gelenlerin varlığı, ona meydan okuyan bir diğer oyun alanı gibiydi.</p>
				<p>Bu dört grup, yeni topraklara ayak basmıştı. Her biri kendi amacı, kendi kuralı ile buraya gelmişti. Ancak, doğa ve yasa bir araya geldiğinde, yeni dünyada sadece bir tek şey kesin olabilirdi: Değişim.</p>
				<p>Yeni Dünya, herkesin sınavından geçeceği bir yerdi. Her grup, kendi zaferini kazanmak için birbirlerine karşı savaşacak, kendi medeniyetlerini inşa edecekti. Fakat bir şey vardı: Her oyuncu, bu topraklarda kendi hikâyesini yazarken, başkalarının kaderini de şekillendiriyordu.</p>
				<p>Ve bu topraklarda, sadece en güçlüler hayatta kalacaktı. Savaşlar başladı, ruhlar karşı karşıya geldi, liderler kendi yollarını çizdi. Ve en sonunda, bir şey netleşti: Bu dünyada adaletin bedeli, altının gücü, doğanın kudreti ve özgürlüğün yolu hep bir araya gelecekti.</p>
				<p>Kaderin yazıldığı, toprakların kanla şekillendiği bu yeni dünyada, her adım bir efsaneye dönüşecekti. Kendi hikayenin kahramanı olmak için, tek yapman gereken bir adım atmak…</p>
			</div>
		</div>

		<!-- Sağ tarafta resim -->
		<div class="col-md-6 p-0" style="background-color: #212529;">
			<img src="{% static 'img/main.jpg' %}" alt="Main Image" class="img-fluid w-100 h-auto" />
		</div>
	</div>
</div>
{% endblock %}
