{% extends "base.html" %} {% load static %} {% block title %}MikropRp | Register{% endblock %} {% block content %}
<div class="container d-flex justify-content-center align-items-center register-container" style="height: 85vh">
	<div class="col-md-6 register-card text-white">
		<h3 class="text-center mb-4">Kayıt Ol</h3>
		<form method="POST" action="/register/">
			{% csrf_token %}
			<div class="mb-3">
				<label for="fullname" class="form-label">Ad Soyad</label>
				<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Adınız Soyadınız" required />
			</div>
			<div class="mb-3">
				<label for="email" class="form-label">E-posta</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="ornek@mail.com" required />
			</div>
			<div class="mb-3">
				<label for="password1" class="form-label">Şifre</label>
				<input type="password" class="form-control" id="password1" name="password1" placeholder="Şifreniz" required />
			</div>
			<div class="mb-3">
				<label for="password2" class="form-label">Şifre Tekrar</label>
				<input type="password" class="form-control" id="password2" name="password2" placeholder="Şifreyi tekrar girin" required />
			</div>
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-success">Kayıt Ol</button>
			</div>
			<div class="text-center mt-3">
				<small>
					Zaten hesabınız var mı?
					<a href="{% url 'login' %}" class="text-decoration-none text-info">Giriş yap</a>
				</small>
			</div>
		</form>
	</div>
</div>
{% endblock %}
